.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  padding: 2rem 1.5rem;
  gap: 40px;
}


.container .order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container .order-form .order-form-flex {
  width: 100%;
  display: flex;
  gap: 20px;
}

.container .order-form .order-form-flex .order-block {
  width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 12px;
}

.container .order-form .order-form-flex .order-block:last-child {
  width: 200px;
}


.container .order-form .order-form-flex .order-block .order-block-head {
  text-transform: uppercase;
  color: lightslategrey;
  padding: 1rem;
  border-radius: 12px 12px 0px 0px;
  background-color: rgb(244, 244, 244);

}

.container .order-form .order-form-flex .order-block .order-input-block {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 20px;
}