.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F8FAFF;
  border-radius: 12px;
  padding: 0rem 0rem 1.5rem;
  gap: 40px;
}

.container .container-inner {
  width: 100%;
  padding: 0 1.5rem;
}

.container .order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container .order-form .order-form-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container .order-form .order-form-flex .order-block {
  width: 49%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 12px;
  gap: 20px;
}

.container .order-form .order-form-flex .order-block:last-child {
  height: 240px;
}

.container .order-form .order-form-flex .order-block .order-block-head {
  text-transform: capitalize;
  color: lightslategrey;
  color: white;
  padding: 1rem;
  border-radius: 12px 12px 0px 0px;
  /* background-color: rgb(244, 244, 244); */
  background-color: #3A46D6;

}

.container .order-form .order-form-flex .order-block .order-input-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem 1rem;
}