.orders-card {
  width: 100%;
  display: flex;
  padding: 1rem;
  gap: 12px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: 0.3s;

  &:hover {
    background-color: aliceblue;
  }

  .orders-card-values {
    width: 150px;

    &.new-order {
      color: #66bb6a;
      color: #0275d8;
      font-weight: bold;
    }

    &.cancelled-order {
      color: #d9534f;
      font-weight: bold;
    }

    &.on-courier-order {
      color: #f0ad4e;
      font-weight: bold;
    }

    &.delivered-order {
      color: #66bb6a;
      font-weight: bold;
    }

    &.paid {
      color: #66bb6a;
      font-weight: bold;
    }

    &.not-paid {
      color: coral;
      font-weight: bold;
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: center;
    }

    &:nth-child(4) {
      text-align: center;
    }

    &:nth-child(5) {
      width: 100px;
      text-align: center;
    }

    &:nth-child(6) {
      width: 130px;
      text-align: center;
    }

    &:nth-child(7) {
      width: 130px;
      text-align: center;
    }
  }

  .order-card-actions {
    height: 100%;
    text-align: right;
    flex-grow: 1;

    .order-card-actions-btn {
      height: 100%;
      padding: 0;
    }
  }

}

.orders-card.deleting {
  background-color: rgb(255, 200, 200);
}

/* .orders-card:hover {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
} */


// .orders-card .orders-card-heading {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   gap: 10px;

// }

// .orders-card .orders-card-heading .orders-date {
//   display: flex;
//   gap: 4px;
//   padding: 4px 8px;
//   border-radius: 4px;
//   border: 1px solid #ccc;
//   color: #171717;
// }

// .orders-card .orders-card-body {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   color: #171717;
// }

// .orders-card .orders-card-body .orders-adress-block {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }


// .orders-card .orders-card-body .orders-adress {
//   width: 93%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .orders-card .orders-card-body .orders-adress .adress-phone {
//   width: 30px;
//   height: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #b3ffb3;
//   color: #23A42F;
//   border-radius: 4px;
// }

// .orders-card .orders-card-body .orders-info-block {
//   display: flex;
//   justify-content: space-between;
//   text-align: center;
// }


.table-container {
  width: 100%;
  height: 450px;
  margin-top: 40px;
}