.history-list {
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 8%) 0px 1px 2px;
  gap: 10px;
  padding: 0.25rem 1rem;
  margin: 10px 0;

  time {
    color: #6c737f;
    font-weight: bold;
    font-size: 18px;
  }

  p {
    color: #111927;
    font-weight: 500;
    font-size: 16px;
  }
}