.main-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 6px 6px rgba(#a5b1ff, 0.3);
  padding: 1.5rem;

  .header-page-navigation {
    height: 100%;
    display: flex;
    align-items: center;

    h3 {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .header-user {
    .lll {
      span {
        background-color: coral;
      }
    }
  }
}