.addCourier-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  border-radius: 16px;
  padding: 2rem;
  background-color: white;
}

.addCourier-container .addCourier-inner {
  width: 100%;
  height: 100%;
  display: flex;
}

.addCourier-container .addCourier-inner form {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}