.admin-container {
  width: 100%;
  /* height: 400px; */
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  gap: 40px;
}

.admin-container p {
  margin-top: 4px;
  font-size: 16px;
  color: lightslategray;
}

.admin-container .admin-card-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.admin-container .admin-card-wrapper .admin-card-wrapper-head {
  width: 100%;
  height: 60px;
  border: 1px solid red;
}